---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full lg:w-[550px] mx-auto py-44">
			<h1 class="text-3xl font-bold flex">Hi 👋, I'm Martin</h1>
			<h2 class="">Computer Engineering student based in Chile. I have a strong interest in web development and a growing passion for mobile applications and artificial intelligence.</h2>
		</section>
	</main>
</Layout>
