<header class="flex justify-between items-center py-6 w-[1120px] mx-auto text-white"> {/* Centrado con mx-auto */}
    <span class="text-4xl">Martín.</span> 
    <nav class="flex flex-row gap-x-10">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>
<style>
    span {
      font-family: 'Lilita One', sans-serif;
    }
    </style>